@use '../../../partial-scss/index' as *;

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .hero-section-content {
      width: 40%;
    }

    .hero-section-photos {
      width: 60%;
    }
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  font-family: 'Poppins', sans-serif;
  padding: 2rem 0;

  span {
    display: flex;
    align-items: center;
    color: $body_text;
    font-size: 12px;
  }

  mat-icon {
    height: 3px;
    width: 10px;
    font-size: 4px;
  }

  @media (min-width: 768px) {
    padding-top: 0px;
    gap: 0.5rem;
    justify-content: space-evenly;
    span {
      gap: 4px;
      font-size: 10px;
      letter-spacing: 2px;
      color: gray;
      mat-icon {
        height: 5px;
        width: 5px;
        font-size: 5px;
      }
    }
  }
}
.details {
  margin-top: 2rem;
  line-height: 2rem;
  font-weight: 300;
}

.book-and-explore {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;

  a {
    color: $heading;
    text-decoration: none;
    border-bottom: 1px solid $heading;
    padding-bottom: 1px;
    transition: 0.3s;
    max-width: max-content;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .btn-book {
      padding: 1rem 1.5rem;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
  }
}

.experiance-and-count {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;

  hr {
    border: none;
    border-left: 2px solid $border_dividers;
    height: 50px;
  }

  h1 {
    font-size: 2.5rem;
    color: $heading;
    line-height: 4rem;
    span {
      font-size: 2.5rem;
      color: $italic_accent;
    }
  }

  p {
    font-size: 1rem;
    color: $body_text;
    letter-spacing: 2px;
    width: 50%;
    font-weight: 300;
  }

  @media (min-width: 768px) {
    margin-top: 1rem;
    h1 {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 400;
      span {
        font-size: 2rem;
      }
    }
    p {
      width: 100%;
    }
  }
}

.hero-section-photos {
  margin-top: 2rem;
  position: relative;
  .img-inner {
    width: 100%;
    padding: 8px;
    background-color: #eee4dd;
    height: 600px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .img-outer {
    position: absolute;
    top: 36%;
    height: 60%;
    bottom: 30px;
    left: -8px;
    width: 70%;
    padding: 8px;
    background-color: $frames_bg;
    animation: floatY 3s ease-in-out infinite;

    img {
      width: 100%;
      height: stretch;
      object-fit: cover;
    }
  }

  @media (min-width: 768px) {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    .img-inner {
      width: 72%;
      height: 650px;
    }
    .img-outer {
      height: 70%;
      width: 50%;
      top: 25%;
      left: 0px;
    }
  }
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  } // move up
  100% {
    transform: translateY(0);
  }
}
