<!-- <div class="header p-4 border_bottom">
    <h3 class="logo heading_color">Glow <span class="primary-color italic">by </span> Rishi</h3>
    <mat-icon mat-icon-button [matMenuTriggerFor]="menu">menu</mat-icon>
</div>

<mat-menu #menu="matMenu" class="menu-list">
    <button mat-menu-item>
        Portfolio
    </button>
    <button mat-menu-item>
        Services
    </button>
    <button mat-menu-item>
        Aboust Us
    </button>
    <button mat-menu-item>
        Contact Us
    </button>
    <button mat-menu-item>
        Book Now
    </button>
</mat-menu> -->

<mat-sidenav-container class="sidenav-container">
  <!-- Side Drawer -->
  <mat-sidenav #drawer mode="over" position="end">
    <div class="d-flex justify-between align-center p-3 heading">
      <h3 class="fw-semibold">Menu</h3>

      <button mat-icon-button (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="d-flex flex-column g-3">
      <a routerLink="/portfolio" class="pl-4">Portfolio</a>
      <a routerLink="/services" class="pl-4">Services</a>
      <a routerLink="/about" class="pl-4">About Us</a>
      <a routerLink="/contact" class="pl-4">Contact</a>
      <button class="btn-book w-100">Book Now</button>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Header -->
    <div class="d-flex justify-between align-center p-3 mobile-header glass-card">
      <h3 class="logo heading_color">Glow <span class="primary-color italic">by </span> Rishi</h3>

      <button mat-icon-button class="text-lg" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="desktop-header d-flex justify-between align-center p-3 glass-card">
      <div class="d-flex g-2 align-items-center">
        <a routerLink="/portfolio">Portfolio</a>
        <a routerLink="/services" class="ml-5">Services</a>
      </div>
      <h3 class="logo heading_color">Glow <span class="primary-color italic">by </span> Rishi</h3>
      <div class="d-flex justify-end align-center g-2">
        <a routerLink="/about">About Us</a>
        <a routerLink="/contact" class="ml-5">Contact</a>
        <button class="ml-5 btn-book">Book Now</button>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
