@use '../../partial-scss/mixins' as *;
@use '../../partial-scss/index' as *;

.container {
  padding-top: 4.5rem;
}

.desktop-header {
  display: none;
}
.mobile-header {
  @include flex(space-between, center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .logo {
    font-weight: 500;
    font-size: x-large;
  }
}

.border_bottom {
  border-bottom: 1px solid #e5d2cc;
}

.cdk-overlay-container {
  .cdk-overlay-backdrop {
    .cdk-overlay-connected-position-bounding-box {
      top: 60px !important;
      right: 0px !important;
    }
  }
}

::ng-deep .menu-list {
  top: 60px !important;
  right: 0px !important;
  background-color: rebeccapurple;
}

.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 260px;
}

mat-sidenav {
  background: #fff;
  padding-top: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    background: transparent;
    bac & > div {
      flex: 1;
    }
    .logo {
      font-size: 1.5rem;
      font-weight: 400;
    }
    a {
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 2px;
      color: gray;
      text-transform: uppercase;
    }

    .btn-book {
      padding: 0.7rem 1.2rem;
      text-transform: uppercase;
      background-color: $footer_bg;
      color: $white_color;
      border: none;
      letter-spacing: 5px;
      font-size: 0.7rem;
    }
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

mat-sidenav {
  color: $footer_bg;
  a {
    text-transform: uppercase;
  }

  .btn-book {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-top: 6.5rem !important;
  }
}
