<mat-sidenav-container class="sidenav-container">
  <!-- Side Drawer -->
  <mat-sidenav #drawer mode="over" position="end" class="p-0">
    <div class="d-flex justify-end align-center p-3 heading">
      <button type="button" mat-icon-button (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="d-flex flex-column g-4">
      <a class="pl-4" routerLink="/my-work">My Work</a>
      <a class="pl-4" (click)="goToSection('services', drawer)">Services</a>
      <a class="pl-4" (click)="goToSection('artist', drawer)">About Us</a>
      <a class="pl-4" (click)="goToSection('get-in-touch', drawer)">Contact Us</a>
      <a class="pl-4" routerLink="/my-bookings" (click)="drawer.close()">My Bookings</a>
      <button type="button" class="btn-book w-100" (click)="openBookNowDialog(true, drawer)">
        Book Now
      </button>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Header -->
    <div class="d-flex justify-between align-center p-3 mobile-header glass-card">
      <h3 class="logo heading-color pointer" routerLink="/my-work">
        Glow <span class="primary-color italic">by </span> Rishi
      </h3>

      <button type="button" mat-icon-button class="fs-lg" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="desktop-header d-flex justify-between align-center p-3 glass-card">
      <div class="d-flex g-2 align-items-center">
        <a (click)="goToSection('services', drawer)">Services</a>
        <a routerLink="/my-work" class="pl-4">My Work</a>
      </div>
      <h3 class="logo heading-color pointer" routerLink="/">
        Glow <span class="primary-color italic">by </span> Rishi
      </h3>
      <div class="d-flex justify-end align-center g-2">
        <a (click)="goToSection('artist', drawer)">About Us</a>
        <a (click)="goToSection('get-in-touch', drawer)" class="pl-4">Contact</a>
        <a class="pl-4" routerLink="/my-bookings">My Bookings</a>
        <button type="button" class="ml-5 btn-book" (click)="openBookNowDialog()">Book Now</button>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
