<div class="my-5 work-gallery d-flex flex-wrap justify-center g-4">
  <button type="button" class="secondary-button" (click)="getBookings()">All</button>
  @for (status of bookingStatuses; track status) {
    <button type="button" class="secondary-button" (click)="getBookings(status)">
      {{ status }}
    </button>
  }
</div>
@for (booking of allBookings; track booking.bookingId) {
  <div class="booking-card desktop-booking-card mb-3">
    <div>
      <div class="customer-info d-flex justify-between align-center">
        <h2>
          <span class="primary-color">#{{ booking.bookingNumber }}</span>
          {{ booking.client.clientName }}
        </h2>
        <h2>${{ booking.totalPrice }}</h2>
      </div>
      <div class="d-flex justify-between align-center contact mb-1">
        <div class="d-flex align-center g-2">
          <span class="icon-details"> <mat-icon>email</mat-icon>{{ booking.client.gmail }}</span>
          <span class="icon-details">
            <mat-icon>phone</mat-icon>{{ booking.client.phoneNumber }}</span
          >
        </div>
        <div class="status">{{ booking.status }}</div>
      </div>

      <div class="d-flex justify-between align-end mb-1">
        <div>
          <div class="booking-date mb-1">
            {{ booking.bookingDate }}, {{ booking.bookingTime.slice(0, 5) }}
          </div>
          <div class="booked-date mb-1">Booked {{ booking.createdAt | date: 'dd/MM/yyyy' }}</div>
          <div class="note">{{ booking.notes }}</div>
        </div>
        <div class="d-flex justify-end align-center g-2">
          <button
            [ngClass]="booking.status === bookingStatus.CONFIRMED ? 'btn-book' : 'secondary-button'"
            (click)="updateBooking(booking.bookingId, booking.status)"
          >
            {{ booking.status === bookingStatus.CONFIRMED ? booking.status : 'Confirm' }}
          </button>
          <button
            [ngClass]="booking.status === bookingStatus.COMPLETED ? 'btn-book' : 'secondary-button'"
            (click)="updateBooking(booking.bookingId, bookingStatus.COMPLETED)"
          >
            {{ booking.status === bookingStatus.COMPLETED ? booking.status : 'Complete' }}
          </button>
          <button
            [ngClass]="booking.status === bookingStatus.CANCELLED ? 'btn-book' : 'secondary-button'"
            (click)="updateBooking(booking.bookingId, bookingStatus.CANCELLED)"
          >
            {{ booking.status === bookingStatus.CANCELLED ? booking.status : 'Cancel' }}
          </button>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="services">
      <h2 class="service-title mb-2">SERVICES (1)</h2>
      @for (service of booking.bookingServices; track service.bookingServiceId) {
        <div class="d-flex justify-between align-center service-row">
          <span>{{ service.service.serviceName }}</span>
          <span>${{ service.price }}</span>
        </div>
      }
    </div>
  </div>

  <div class="booking-card mobile-booking-card mb-3">
    <div class="customer-info d-flex justify-between mb-1">
      <h2>
        <span class="primary-color">#{{ booking.bookingNumber }}</span>
        {{ booking.client.clientName }}
      </h2>
      <h2>${{ booking.totalPrice }}</h2>
    </div>

    <div class="contact d-flex flex-column g-1 mb-1">
      <span class="icon-details"><mat-icon>email</mat-icon> {{ booking.client.gmail }}</span>
      <span class="icon-details"> <mat-icon>phone</mat-icon> {{ booking.client.phoneNumber }}</span>
      <!-- <div class="status">{{ booking.status }}</div> -->
    </div>

    <div>
      <div class="booking-date d-flex g-2 mb-1">
        <div class="icon-details">
          <mat-icon>calendar_today</mat-icon>
          {{ booking.bookingDate }}
        </div>
        <div class="icon-details">
          <mat-icon>schedule</mat-icon>
          {{ booking.bookingTime.slice(0, 5) }}
        </div>
      </div>
      <span class="mb-1 fs-xs"
        >Booked:
        <span class="booked-date"> {{ booking.createdAt | date: 'dd/MM/yyyy' }}</span></span
      >
      <span class="note">{{ booking.notes }}</span>
    </div>

    <div class="d-flex justify-end align-center">
      <span class="status">{{ booking.status }}</span>
    </div>

    <div class="divider"></div>
    <div class="services">
      <h2 class="service-title mb-2">SERVICES (1)</h2>
      @for (service of booking.bookingServices; track service.bookingServiceId) {
        <div class="d-flex justify-between align-center service-row">
          <span>{{ service.service.serviceName }}</span>
          <span>${{ service.price }}</span>
        </div>
      }
    </div>

    <div class="d-flex flex-wrap align-center g-2 mt-3">
      <button
        [ngClass]="booking.status === 'Confirmed' ? 'btn-book' : 'secondary-button'"
        (click)="updateBooking(booking.bookingId, 'Confirmed')"
      >
        Confirmed
      </button>
      <button
        [ngClass]="booking.status === 'Completed' ? 'btn-book' : 'secondary-button'"
        (click)="updateBooking(booking.bookingId, 'Completed')"
      >
        Completed
      </button>
      <button
        [ngClass]="booking.status === 'Cancelled' ? 'btn-book' : 'secondary-button'"
        (click)="updateBooking(booking.bookingId, 'Cancelled')"
      >
        Cancel
      </button>
    </div>
  </div>
}
