<div class="grid-2 g-5 mt-5 category-card">
  <div class="card">
    <h2 class="card-heading">{{ isEditCategory ? 'Edit' : 'Add' }} Category</h2>
    <form [formGroup]="categoryForm" class="mt-5">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label for="categoryName">Name</mat-label>
        <input
          id="categoryName"
          type="text"
          matInput
          formControlName="categoryName"
          aria-label="Category Name"
        />
        <mat-error class="mb-5">
          <app-field-error-component
            [control]="categoryForm.get('categoryName')"
            [fieldName]="'Category Name'"
          ></app-field-error-component>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <textarea
          rows="7"
          type="text"
          matInput
          formControlName="description"
          aria-label="Category Description"
        ></textarea>
        <mat-error class="mb-5">
          <app-field-error-component
            [control]="categoryForm.get('description')"
            [fieldName]="'Description'"
          ></app-field-error-component>
        </mat-error>
      </mat-form-field>

      @if (isEditCategory) {
        <div class="d-flex g-5">
          <button class="btn-book" type="submit" (click)="updateCategory()">Edit Category</button>
          <button class="secondary-button" type="button" (click)="cancelUpdate()">Cancel</button>
        </div>
      } @else {
        <button class="btn-book" type="submit" (click)="saveCategory()">Add Category</button>
      }
    </form>
  </div>
  @if (existingCategories.length > 0) {
    <div class="card existing-categories">
      @for (category of existingCategories; track category.categoryId) {
        <div class="card mb-3 d-flex-between align-center">
          <div>
            <h2 class="card-heading mb-1">{{ category.categoryName }}</h2>
            <p class="description">{{ category.description }}</p>
          </div>
          <div>
            <mat-icon class="success-color mr-2" (click)="editCategory(category)">edit</mat-icon>
            <mat-icon class="danger-color" (click)="deleteCategory(category)">delete</mat-icon>
          </div>
        </div>
      }
    </div>
  }
</div>
