<div class="my-work-section">
  <h4 class="feature-heading text-center">My Work</h4>
  <h1 class="feature-description text-center">
    Looks made <br />
    with <span class="italic"> love &amp; care.</span>
  </h1>

  <div class="work-gallery d-flex flex-wrap justify-center g-4">
    <button
      type="button"
      [ngClass]="!selectedCategoryId ? 'btn-book' : 'secondary-button'"
      (click)="getCategoryWorks('')"
    >
      All
    </button>
    @for (category of categories; track category.categoryId) {
      <button
        type="button"
        [ngClass]="selectedCategoryId === category.categoryId ? 'btn-book' : 'secondary-button'"
        (click)="getCategoryWorks(category.categoryId)"
      >
        {{ category.categoryName | uppercase }}
      </button>
    }
  </div>

  <div class="my-work-container mt-5">
    @for (work of myAllWorks; track i; let i = $index) {
      <div class="work-item">
        <img [src]="'../../../assets/images/service-saree.jpg'" alt="Work" class="work-image" />
        <div class="work-info">
          <h3 class="work-description fs-sm capitalize">
            <i>{{ work.description }}</i>
          </h3>
          <p class="work-title upper-case fw-light fs-xs">{{ work.title }}</p>
        </div>
      </div>
    }
  </div>

  <p (click)="showMoreWorks()" class="fs-xs text-primary fw-semibold text-right mt-4 pointer">
    Show More...
  </p>
</div>
