@use '../../partial-scss/variables' as *;

.my-work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;

  .work-item {
    display: flex;
    flex-direction: column;
    position: relative;

    .work-info {
      position: absolute;
      text-align: left;
      bottom: 10px;
      color: $white_color;
      display: none;
      transition: opacity 0.3s ease;
      padding-left: 0.5rem;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    &:hover {
      .work-info {
        display: block;
        z-index: 999;

        img {
          transition: ease-out linear;
        }
      }
    }
  }
}
