@use '../../partial-scss/variables' as *;
.dialog-container {
  .dialog-header {
    padding: 1.2rem;
    background-color: $footer_bg;
    color: $white_color;
    font-size: 1rem;
  }

  .dialog-body {
    padding: 1rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
