<div class="book-now-container">
  <div class="dialog-header">
    <div class="text-right">
      <mat-icon
        mat-dialog-close
        (click)="dialogClose()"
        (keydown)="dialogClose()"
        (keyup)="dialogClose()"
        (keypress)="dialogClose()"
        >close</mat-icon
      >
    </div>
    <p class="primary-color">
      <mat-icon class="star-icon">star</mat-icon>
      Step {{ stepper.selectedIndex + 1 }} of 4
    </p>
    <div class="mt-3">
      @if (stepper.selectedIndex === 0) {
        <h1 class="stepper-header">Select Service</h1>
        <p class="description mb-2 fs-xs">Choose one or more services for your appointment.</p>
      } @else if (stepper.selectedIndex === 1) {
        <h1 class="stepper-header">Pick a Date and Time</h1>
        <p class="description mb-2 fs-xs">Choose your preferred date and time.</p>
      } @else if (stepper.selectedIndex === 2) {
        <h1 class="stepper-header">Confirm Details</h1>
        <p class="description mb-2 fs-xs">Please review and confirm your booking.</p>
      } @else if (stepper.selectedIndex === 3) {
        <h1 class="stepper-header">Verify Your Booking</h1>
        <p class="description mb-2 fs-xs">
          Enter the 6-digit code we sent to {{ customerDetailsForm.value.email }}.
        </p>
      }
    </div>
  </div>
  <mat-stepper linear #stepper class="custom-stepper">
    <mat-step>
      <div class="stepper-body">
        <div class="select-service">
          @for (category of categories; track category.categoryId) {
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{ category.categoryName }} </mat-panel-title>
                  <mat-panel-description>
                    {{ category.services.length }} services
                  </mat-panel-description>
                </mat-expansion-panel-header>

                @for (service of category.services; track service.serviceId) {
                  <div
                    class="d-flex-between align-center service-details"
                    [ngClass]="{
                      'selected-service': isSelectedService(service.serviceId),
                    }"
                  >
                    <mat-checkbox (change)="addService($event, service)" class="custom-checkbox">
                      {{ service.serviceName }}
                    </mat-checkbox>

                    <p class="price-details">
                      <mat-icon>currency_rupee</mat-icon>
                      {{ service.price }}
                    </p>
                  </div>
                }
              </mat-expansion-panel>
            </mat-accordion>
          }
        </div>
      </div>
      <div class="d-flex justify-end stepper-footer">
        <button type="button" class="btn-book" type="button" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <div>
        <mat-form-field class="w-100 custom-timepicker">
          <mat-label>Pick a time</mat-label>
          <input
            id="timepicker-input"
            matInput
            [matTimepicker]="picker"
            aria-label="Pick a time"
            [(ngModel)]="selectedTime"
          />
          <mat-timepicker-toggle matIconSuffix [for]="picker" />
          <mat-timepicker #picker />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-icon matPrefix>calendar_today</mat-icon>
          <input
            type="tel"
            [value]="selectedDate() | date: 'dd-MM-yyyy'"
            matInput
            readonly
            placeholder="Please select a date below"
            aria-label="selected date"
          />
        </mat-form-field>

        <mat-card class="calendar-card">
          <mat-calendar [minDate]="today()" [(selected)]="selectedDate"></mat-calendar>
        </mat-card>
      </div>
      <div class="d-flex justify-end g-3">
        <button type="button" class="secondary-button" matStepperPrevious>Back</button>
        <button type="button" class="btn-book" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <div class="confirmation-container">
        <div class="appointment-details p-4">
          <h5 class="mb-4">Your Appointment</h5>
          <div class="d-flex-between align-center">
            <span>Services</span>
            <span>{{ getServicesName() }}</span>
          </div>
          <div class="d-flex-between align-center">
            <span>Date</span>
            <span>{{ selectedDate() | date: 'dd/MM/yyyy' }}</span>
          </div>
          <div class="d-flex-between align-center">
            <span>Time</span>
            <span>{{ selectedTime() | date: 'shortTime' }}</span>
          </div>
          <hr class="my-4" />
          <div class="d-flex-between align-center">
            <span>Estimated Total</span>
            <span>
              <mat-icon> rupee_currency </mat-icon>
              {{ getTotalPrice }}
            </span>
          </div>
        </div>

        <form [formGroup]="customerDetailsForm" class="your-details mt-5">
          <h4 class="mb-5 heading-color">Your Details</h4>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Full Name</mat-label>
            <input
              matInput
              placeholder="Enter your full name"
              formControlName="clientName"
              aria-label="Full Name"
            />
            <mat-error>
              <app-field-error-component
                [control]="customerDetailsForm.get('clientName')"
                [fieldName]="'Full Name'"
              ></app-field-error-component>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Enter your phone number"
              formControlName="phoneNumber"
              aria-label="Phone Number"
            />
            <mat-error class="mb-5">
              <app-field-error-component
                [control]="customerDetailsForm.get('phoneNumber')"
                [fieldName]="'Phone Number'"
              ></app-field-error-component>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Gmail</mat-label>
            <input
              matInput
              placeholder="Enter your gmail"
              formControlName="gmail"
              aria-label="gmail"
            />
            <mat-error>
              <app-field-error-component
                [control]="customerDetailsForm.get('gmail')"
                [fieldName]="'Gmail'"
              ></app-field-error-component>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="Enter your address"
              formControlName="address"
              aria-label="Address"
            />
            <mat-error>
              <app-field-error-component
                [control]="customerDetailsForm.get('address')"
                [fieldName]="'Address'"
              ></app-field-error-component>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Notes (Optional)</mat-label>
            <textarea
              matInput
              placeholder="Venue, allergies, anything you'd love us to know..."
              formControlName="notes"
              aria-label="Notes (Optional)"
            ></textarea>
            <mat-error class="mb-5">
              <app-field-error-component
                [control]="customerDetailsForm.get('notes')"
                [fieldName]="'Notes'"
              ></app-field-error-component>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="d-flex justify-end g-3">
        <button type="button" class="secondary-button" matStepperPrevious>Back</button>
        <button type="submit" class="btn-book" (click)="ConfirmBooking()">Confirm Booking</button>
      </div>
    </mat-step>
    <mat-step>
      <form class="verification-container" [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
        <p class="verification-text">
          For your security, please enter the 6-digit verification code to confirm your appointment.
        </p>
        <div class="otp-container">
          <input
            *ngFor="let digit of otpForm.controls | keyvalue; let i = index"
            type="text"
            inputmode="numeric"
            [id]="'otp_' + i"
            maxlength="1"
            minlength="1"
            class="otp-input"
            formControlName="{{ digit.key }}"
            (input)="onOtpInput($event, i)"
            (keydown)="onOtpKeyDown($event, i)"
            (paste)="onOtpPaste($event)"
            autocomplete="one-time-code"
          />
        </div>

        <button type="button" class="resend-btn" (click)="resendCode()">RESEND CODE</button>
        <button type="submit" class="btn-book" [disabled]="!otpForm.valid" (click)="verifyOtp()">
          VERIFY
        </button>
      </form>
    </mat-step>
  </mat-stepper>
</div>
