@use '../../partial-scss/variables' as *;

.book-now-container {
  .star-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }

  .dialog-header {
    background-color: #f9f5f2;
    padding: 1rem;
  }

  .stepper-header {
    margin-bottom: 0.2rem;
  }
}

.service-details {
  padding: 0.5rem;
  color: $gray;
  border: 1px solid $border_dividers;

  &:hover {
    border-color: $primary_color;
    color: $primary_color;
  }
}

.selected-service {
  background-color: #f6ede8;
  border-color: $primary_color;
  color: $primary_color;
}

.custom-stepper {
  background: transparent;
  padding: 1rem;
  .stepper-body {
    height: calc(100% - 3rem);
    overflow-y: auto;
    padding-bottom: 1rem;
  }
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
  margin-top: 1rem;
}

::ng-deep .mat-step-header,
::ng-deep .mat-horizontal-stepper-header-container,
::ng-deep .mat-horizontal-stepper-header,
::ng-deep .mat-step-header,
::ng-deep .mat-horizontal-stepper-header {
  height: 3rem !important;
  padding: 0 !important;
}

::ng-deep .mat-step-header .mat-step-header-ripple {
  display: none !important;
}

::ng-deep .mat-step-header {
  pointer-events: none;
}

::ng-deep .mat-step-icon {
  background-color: white !important;
  color: #c97d67 !important;
  border: 1px solid #d9a18f;
  width: 42px;
  height: 42px;
  padding: 1rem !important;
}

::ng-deep .mat-step-icon-selected {
  background-color: #c97d67 !important;
  color: white !important;
}

::ng-deep .mat-stepper-horizontal-line {
  border-top-color: #e4c5bb !important;
}

// cutome checkbox
::ng-deep .custom-checkbox .mdc-checkbox__background {
  border-color: #c97d67 !important;
  border-radius: 50% !important;
}

::ng-deep .custom-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #c97d67 !important;
  border-color: #c97d67 !important;
  border-radius: 50% !important;
}

::ng-deep .custom-checkbox .mdc-checkbox__checkmark {
  color: white !important;
}

/* Remove ripple/background effect */
::ng-deep .custom-checkbox .mat-mdc-checkbox-ripple,
::ng-deep .custom-checkbox .mdc-checkbox__ripple {
  display: none !important;
}

/* Remove hover/focus background */
::ng-deep .custom-checkbox .mdc-form-field {
  background: transparent !important;
}
// end of custom checkbox

// custome time ::picker
::ng-deep .custom-timepicker {
  /* Label */
  .mdc-floating-label {
    // color: #c97d67 !important;
  }

  /* Input text */
  input {
    // color: #c97d67 !important;
  }

  /* Outline border */
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    // border-color: #c97d67 !important;
  }

  /* Focus border */
  &.mat-focused .mdc-notched-outline__leading,
  &.mat-focused .mdc-notched-outline__notch,
  &.mat-focused .mdc-notched-outline__trailing {
    // border-color: #c97d67 !important;
    border-width: 2px !important;
  }

  /* Toggle icon */
  mat-icon {
    // color: #c97d67 !important;
  }
}

::ng-deep .mat-timepicker-content {
  /* Selected hour/minute */
  .mat-timepicker-dial__item_active {
    // background-color: #c97d67 !important;
    color: white !important;
  }

  /* Clock hand */
  .mat-timepicker-dial__hand {
    // background-color: #c97d67 !important;
  }

  /* Clock center dot */
  .mat-timepicker-dial__center {
    // background-color: #c97d67 !important;
  }
}

::ng-deep .custom-timepicker {
  /* Default border */
  .mdc-notched-outline > * {
    // border-color: #c97d67 !important;
  }

  /* Hover border */
  &:hover .mdc-notched-outline > * {
    // border-color: #c97d67 !important;
  }

  /* Focus border */
  &.mat-focused .mdc-notched-outline > * {
    // border-color: #c97d67 !important;
    border-width: 2px !important;
  }

  /* Label color */
  .mdc-floating-label {
    // color: #c97d67 !important;
  }

  /* Input text */
  input {
    // color: #c97d67 !important;
  }

  /* Icon color */
  mat-icon {
    // color: #c97d67 !important;
  }
}

// stepper 3

.confirmation-container {
  .appointment-details {
    background-color: #f6ede8;
    border: 1px solid $border_dividers;
    color: $gray;

    & > div {
      margin-bottom: 0.8rem;

      span {
        font-size: 12px;
        font-weight: 400;
      }
    }

    & > div:last-child {
      margin-bottom: 0;
    }
  }
}

.select-service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mat-expansion-panel {
  border: 1px solid $border_dividers;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
.mat-expansion-panel-header-description {
  justify-content: end;
}

.calendar-card {
  box-shadow: none;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #c87563 !important;
}

//otp
.verification-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  background: #faf9f7;
  border-top: 1px solid #eee4df;
  box-sizing: border-box;

  .btn-book {
    margin: 1rem 0px;
  }
}

// Description
.verification-text {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.45;
  color: #796d69;
}

// OTP container
.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1rem;
}

// Individual OTP boxes
.otp-input {
  width: 72px;
  height: 70px;
  padding: 0;
  border: 1px solid #e3d4ce;
  border-right: none;
  outline: none;
  background: #fbfaf8;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: #504844;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;

  &:first-child {
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-right: 1px solid #e3d4ce;
    border-radius: 0 3px 3px 0;
  }

  &:focus {
    border-color: #d98c7a;
    box-shadow: inset 0 0 0 1px #d98c7a;
    z-index: 1;
  }
}

// Resend button
.resend-btn {
  background: transparent;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 6px;
  color: #d98b79;
  transition: color 0.2s ease;
  border-bottom: 1px solid transparent;

  &:hover {
    color: #c87563;
    border-bottom: 1px solid #c87563;
  }
}

@media (max-width: 768px) {
  .stepper-count {
    font-size: 0.8rem;
  }
  .stepper-header {
    font-size: 1.5rem;
  }
}

// Responsive
@media (max-width: 600px) {
  .verification-container {
    padding: 45px 20px;
  }

  .verification-text {
    max-width: 400px;
    font-size: 16px;
  }

  .otp-input {
    width: 48px;
    height: 55px;

    font-size: 22px;
  }

  .resend-btn {
    font-size: 15px;
    letter-spacing: 4px;
  }
}

@media (max-width: 380px) {
  .verification-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .otp-input {
    width: 43px;
    height: 50px;
    font-size: 20px;
  }
}
