<div class="book-now-container p-5">
  <div class="dialog-header">
    <div class="text-right">
      <mat-icon
        mat-dialog-close
        (click)="dialogClose()"
        (keydown)="dialogClose()"
        (keyup)="dialogClose()"
        (keypress)="dialogClose()"
        >close</mat-icon
      >
    </div>
    <p>
      <mat-icon class="star-icon">star</mat-icon>
      Step 1 of 4
    </p>
    <div class="book-service mt-3">
      <h1 class="">Select Service</h1>
      <p class="description fs-xs">Choose one or more services for your appointment.</p>
    </div>
  </div>
  <mat-stepper linear #stepper class="custom-stepper mt-5">
    <mat-step class="my-5">
      <div class="select-service">
        @for (category of categories; track category.categoryId) {
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ category.categoryName }} </mat-panel-title>
                <mat-panel-description>
                  {{ category.services.length }} services
                </mat-panel-description>
              </mat-expansion-panel-header>

              @for (service of category.services; track service.serviceId) {
                <div
                  class="d-flex-between align-center service-details"
                  [ngClass]="{
                    'selected-service': isSelectedService(service.serviceId),
                  }"
                >
                  <mat-checkbox (change)="addService($event, service)" class="custom-checkbox">
                    {{ service.serviceName }}
                  </mat-checkbox>

                  <p class="price-details">
                    <mat-icon>currency_rupee</mat-icon>
                    {{ service.price }}
                  </p>
                </div>
              }
            </mat-expansion-panel>
          </mat-accordion>
        }
      </div>
      <div class="d-flex justify-end mt-5">
        <button type="button" class="btn-book" type="button" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <div class="my-5">
        <mat-form-field class="w-100 custom-timepicker">
          <mat-label>Pick a time</mat-label>
          <input
            id="timepicker-input"
            matInput
            [matTimepicker]="picker"
            aria-label="Pick a time"
            [(ngModel)]="selectedTime"
          />
          <mat-timepicker-toggle matIconSuffix [for]="picker" />
          <mat-timepicker #picker />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-icon matPrefix>calendar_today</mat-icon>
          <input
            type="tel"
            [value]="selectedDate() | date: 'dd-MM-yyyy'"
            matInput
            readonly
            placeholder="Please select a date below"
            aria-label="selected date"
          />
        </mat-form-field>

        <mat-card class="calendar-card">
          <mat-calendar [minDate]="today()" [(selected)]="selectedDate"></mat-calendar>
        </mat-card>
      </div>
      <div class="d-flex justify-end g-3">
        <button type="button" mat-button matStepperPrevious>Back</button>
        <button type="button" class="btn-book" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <div class="confirmation-container">
        <div class="appointment-details p-4">
          <h5 class="mb-5">Your Appointment</h5>
          <div class="d-flex-between align-center">
            <span>Services</span>
            <span>{{ getServicesName() }}</span>
          </div>
          <div class="d-flex-between align-center">
            <span>Date</span>
            <span>{{ selectedDate() | date: 'dd/MM/yyyy' }}</span>
          </div>
          <div class="d-flex-between align-center">
            <span>Time</span>
            <span>{{ selectedTime() | date: 'shortTime' }}</span>
          </div>
          <div class="d-flex-between align-center">
            <span>Location</span>
            <span>Nizamabad</span>
          </div>
          <hr class="my-4" />
          <div class="d-flex-between align-center">
            <span>Estimated Total</span>
            <span>
              <mat-icon> rupee_currency </mat-icon>
              {{ getTotalPrice }}
            </span>
          </div>
        </div>

        <form [formGroup]="customerDetailsForm" class="your-details mt-5">
          <h4 class="mb-5 heading-color">Your Details</h4>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Full Name</mat-label>
            <input
              matInput
              placeholder="Enter your full name"
              formControlName="clientName"
              aria-label="Full Name"
            />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Enter your phone number"
              formControlName="phoneNumber"
              aria-label="Phone Number"
            />
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Notes (Optional)</mat-label>
            <textarea
              matInput
              placeholder="Venue, allergies, anything you'd love us to know..."
              formControlName="notes"
              aria-label="Notes (Optional)"
            ></textarea>
          </mat-form-field>
        </form>
      </div>
      <div class="d-flex-between">
        <button type="button" mat-button matStepperPrevious>Back</button>
        <button type="submit" class="btn-book" (click)="ConfirmBooking()">Confirm Booking</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
