@use './app/partial-scss/index.scss' as *;
@use './app/partial-scss/flex-utilities.scss' as *;
@use './app/partial-scss/utilities.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgound_color;
  // font-family: 'Cormorant Garamond', serif;
  // font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  // color: $body_text;
  letter-spacing: 2px;
}

i,
.italic {
  font-family: 'Playfair Display', serif;
}

a:hover,
button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
.heading {
  font-family: 'Cormorant Garamond', serif;
}

/* Layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

button {
  min-height: 44px;
  border: none;
}

$spacing: 4px, 8px, 12px, 16px, 24px, 32px;

.secondary {
  color: $secondary;
}

.primary-color {
  color: $primary_text;
}

.bold-text {
  color: $body_text;
}

.heading {
  color: $heading;
}

.heading-color {
  color: $heading;
}

.body-text {
  color: $body_text;
}

.description {
  color: $gray;
}

.border-color {
  color: $border;
}

.black-color {
  color: $black_color;
}

.white-color {
  color: $white_color;
}

.italic {
  font-style: italic;
  color: $accent;
}

.upper-case {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.common-margin {
  margin-top: 4rem;
}

.super-header {
  font-size: 4rem;
  letter-spacing: 1.5px;
  line-height: 3.5rem;

  .italic {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 400;
  }
}

.btn-book {
  padding: 1rem;
  text-transform: uppercase;
  background-color: $footer_bg;
  color: $white_color;
  border: none;
  letter-spacing: 5px;
  font-size: 0.75rem;
}

.feature-heading {
  color: $primary_text;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.feature-description {
  color: $heading;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
  margin: 2rem 0;
  font-weight: 300;
}

.text-decoration-none {
  text-decoration: none;
}

.price-details {
  display: flex;
  align-items: center;
  mat-icon {
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 24px;
    max-width: 100%;
  }

  .content {
    padding: 24px;
  }
}
