.alert-container {
  padding: 0.8rem;
  z-index: 1001;
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 20rem;
  font-size: 0.8rem;
}

.error-msg {
  background-color: red;
  color: white;
}

.info-msg {
  background-color: rgb(166, 166, 251);
  color: white;
}

.success-msg {
  background-color: green;
  color: white;
}

.warning-msg {
  background-color: orange;
  color: white;
}

@media (max-width: 480px) {
  .alert-container {
    width: 12rem;
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) {
  .alert-container {
    padding: 1rem;
    width: 23rem;
    font-size: 1rem;
    top: 6rem;
  }
}
