.alert-container {
  padding: 1rem;
  z-index: 1001;
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 23rem;
}

.error-msg {
  background-color: red;
  color: white;
}

.info-msg {
  background-color: rgb(166, 166, 251);
  color: white;
}

.success-msg {
  background-color: green;
  color: white;
}

.warning-msg {
  background-color: orange;
  color: white;
}
