@use '../../../app/partial-scss/index' as *;

.why-choose-section {
  margin: 4rem 0;
}

.reason-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;

  .reason-card {
    border: 1px solid $secondary;
    background-color: $white-color;
    padding: 1.5rem;
    .reason-image {
      width: 60px;
      height: 60px;
      background: $card_bg;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      border-radius: 50%;

      mat-icon {
        font-size: 2rem;
        height: 35px;
        width: 35px;
        color: $primary_color;
      }
    }

    .reason-description {
      color: $gray;
      font-size: 1rem;
    }

    &:hover {
      border-color: $primary_color;
    }
  }
}
