@use '../../partial-scss/index' as *;

.get-in-touch-description {
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
  color: $gray;
}

.get-in-touch-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .reach-us-heading {
    font-size: 1.5rem;
    color: $white-color;
  }

  .slot-booking {
    padding: 2rem;
    background-color: $footer_bg;
    color: $footer_text;

    button {
      background-color: $white-color;
      color: $black-color;
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
      letter-spacing: 4px;
      text-transform: uppercase;

      &:hover {
        background-color: $CTA_hover;
      }
    }
  }
}

.reach-us {
  border: 1px solid $border;
  padding: 2rem;
}
